@charset "UTF-8";     
/*
 * Balises globales
 */
/* Général */
body {
  background-color: url("/images/eglise_saint-martin-du-lac.png");
  background-attachment:scroll;
  background-size:cover;
  -webkit-filter:blur(0px);
  filter:blur(0px);
  height:calc(100% + 2 * 0px);
  left:0px;
  position:absolute;
  top:0px;
  width:calc(100% + 2 * 0px)
}
/* paragraphe */
p {
    font-family: "Comic Sans MS";
    text-align: justify;
}
/* Tableau */
table {
  border-collapse: collapse;
  width: 400px;
}
th, td {
  border: 1px solid black;
  padding: 10px;
  vertical-align: top;
}
/* Citations */
q {
  quotes: "«\a0" "\a0»";
  font: inherit;
}
/* Titres de sections */
h1 {
  font-variant: small-caps;
}
h2 {
  font-variant: small-caps;
}
h3 {
  font-variant: small-caps;
}
h4 {
  font-variant: small-caps;
}
h5 {
  font-variant: small-caps;
}
h6 {
  font-variant: small-caps;
}
/*
 * Cadres
 */
/* Cadre */
.cadre {
  max-width: 100%;
  width: auto;
  margin: 4rem;
  background-color: white;
  text-align: justify;
  align-content: center;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0 .2em #999;
}
/* Affichage des sites sur la page d'accueil */
.accueil-site {
    width: 700px;
    margin: 1rem;
    background-color: #E5E5E5;
    padding: 2rem;
    right: 15%;
    left: 25%;
}
.accueil-site h2 {
    text-align: center;
}
.accueil-site h2 a {
    color: green;
}
.accueil-site p {
    text-align: justify;
}
/* Header */
header.title {
    width: 100%;
    height: 200px;
    margin-top: 250px;
    margin-bottom: 250px;
    margin-right: auto;
    margin-left: auto;
}
header.title div.texte h1 {
    text-align: center;
    color: #BDBDBD;
    font-size: 4rem;
}
/* Réseaux sociaux */
.btn {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin: 0.5rem;
    border-radius: 4px;
    transition-duration: 0.25s;
    font-weight: 300;
    display: inline-block;
}
.btn-lg {
    font-size: 1.2rem;
}
.btn:hover {
    font-weight: 300;
}
.btn-outline-white {
    border: 1px solid #fff;
    color: #fff;
    background: #222;
}
.btn-outline-white:hover {
    background-color: #fff;
    color: #222;
}
.btn-outline-blue {
    border: 1px solid #2573b8;
    color: #2573b8;
    background: #222;
}
.btn-outline-blue:hover {
    background-color: #2573b8;
    color: #fff;
}
.btn-outline-orange {
    border: 1px solid #f16600;
    color: #f16600;
    background: #222;
}
.btn-outline-orange:hover {
    background-color: #f16600;
    color: #fff;
}
.btn-outline-red {
    border: 1px solid #9f1d1d;
    color: #9f1d1d;
    background: #222;
}
.btn-outline-red:hover {
    background-color: #9f1d1d;
    color: #fff;
}
.separator {
    margin-right: 0.5rem;
}
.separator-line {
    border-right: 1px solid #bbb;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
}
/*
 * Onglets
 */
nav {
    width: 100%;
    margin: 0 auto;
    background-color: #B2FFFF;
    position: sticky;
    top: 0px;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    float: left;
    width: 16.667%;
    text-align: center;
    position: relative;
}
nav ul::after {
    content: "";
    display: table;
    clear: both;
}
nav a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
nav a:hover {
    color: orange;
    border-bottom: 2px solid gold;
}
.sous {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous {
    display: block;
}
.sous li {
    float: none;
    width: 100%;
    text-align: left;
}
.sous a {
    padding: 10px;
    border-bottom: none;
}
.sous a:hover {
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after {
    content:" ▼";
    font-size: 12px;
}
h6 {
    font-variant: small-caps;
}
.conteneur {
    margin: 0px 0px;
    min-height: 500px;
}
/* Bas de page */
footer {
    width: 100%;
    margin: 2rem 0px 0px 0px;
    padding: 1rem;
    background-color: white;
    border-top: 2px solid black;
}
footer div.colonnes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
footer div.colonnes-1,
footer div.colonnes-2 {
    display: flex;
    flex-direction: column;
    flex: 1 1 4em;
}
/*
footer ul.footer {
}
*/
footer ul.footer li {
    list-style-type: none;
}
footer ul.footer li a {
    color: grey;
}
/* Languages */
table.language tr {
    width: 100%;
    border: none;
    font-size: 5;
}
/* Bannière */
#barre a {
  text-decoration: none;
  color: #6E052E;
}
#barre {
  width: 100%;
  position: fixed;
  z-index: 9999;
  background: #BFD626;
  padding:  8px 0;
  font-family:  "Trebuchet MS";
  text-align: center;
  font-size:  11px;
  margin-top: -50px;
  border-bottom: 10px solid #2e1b27;
}
#fermer {
  background: url(https://www.webdesignweb.fr/sources/bandeau_webdesignweb_fixed/img/fermer.png);
  width: 18px;
  height: 18px;
  display: block;
  cursor: pointer;
  float:  right;
  margin-right: 30px;
}
 
#fermer:hover {
    background: url(https://www.webdesignweb.fr/sources/bandeau_webdesignweb_fixed/img/fermer.gif);
}
/* Store */
div.store {
    display: flex;
}
div.store div.frame-store {
    width: 250px;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 0 0 .2em #999;
    flex-grow: 1;
    margin: 10px;
}
div.store div.frame-store h1 {
    font-family: "Verdana";*
    font-size: 30px;
}
div.store div.frame-store hr {
    width: 150px;
    align-content: center;
}
div.store div.frame-store p {
    text-align: center;
    font-size: 15px;
    font-family: "Verdana";
}
div.store div.frame-store div.blue-frame {
    margin: auto;
    background-color: #2E64FE;
    color: #FFFFFF;
    border-radius: 1rem;
    padding: 5px;
    width: 150px;
    box-shadow: 0 0 .2em #999;
    border: 2px solid #0040FF;
    margin-top: 10px;
}
div.store div.frame-store div.blue-frame:hover {
    background-color: #0040FF;
    transition-duration: 0.5s;
    width: 175px;
}
div.store div.frame-store div.white-frame {
    margin: auto;
    color: #000000;
    border-radius: 1rem;
    padding: 5px;
    width: 150px;
    box-shadow: 0 0 .2em #999;
    border: 2px solid #D8D8D8;
    margin-top: 10px;
}
div.store div.frame-store div.white-frame:hover {
    background-color: #D8D8D8;
    transition-duration: 0.5s;
    width: 200px;
}
/* Home */
.select-language-fond {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.select-language-centre {
    width: 25%;
    height: 25%;
}
